@use "../../styles.module.scss" as a;

.solar_system {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.sun {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 50px rgba(255, 255, 0, 0.8);
}

.orbit {
    position: absolute;
    border: 1px dashed rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform-origin: center;
    @include a.animation("rotate 10s linear infinite");
}

.mercury_orbit {
    @extend .orbit;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    animation-duration: 4s;
}
.venus_orbit {
    @extend .orbit;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
    animation-duration: 7s;
}
.earth_orbit {
    @extend .orbit;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    animation-duration: 10s;
}
.mars_orbit {
    @extend .orbit;
    top: calc(50% - 125px);
    left: calc(50% - 125px);
    width: 250px;
    height: 250px;
    animation-duration: 12s;
}

.planet {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.mercury {
    @extend .planet;
    background-color: gray;
}
.venus {
    @extend .planet;
    background-color: orange;
}
.earth {
    @extend .planet;
    background-color: blue;
}
.mars {
    @extend .planet;
    background-color: red;
}

@include a.keyframes(rotate) {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
