body {
    background: black;
}

.star__splash__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 160px;
    margin: 48px 0;
    width: 100%;
}

.splash__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 160px;
    margin: 48px 0;
    width: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 160px;
    margin: 48px 0;
}

.hidden {
    visibility: hidden;
    height: 0;
    width: 0;
}

.stars__container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.star__container {
}

.star {
    position: absolute;

    width: 100px;
    height: 100px;
    border-radius: 50%;

    left: calc(50% - 50px);
}

@keyframes hover__to__side {
    0% {
        left: 45%;
    }
    100% {
        left: 10%;
    }
}

.sun {
    top: calc(10% - 50px);
    background: radial-gradient(#ff0, #d00);
    z-index: 10;
    box-shadow:
        0 0 40px 6px #f20,
        0 0 150px 10px #f33;
}

.polaris {
    top: calc(26% - 50px);
    background: radial-gradient(#f5eaa2, #f7bc03);
    z-index: 9;
    box-shadow:
        0 0 40px 6px #f5efa2,
        0 0 150px 10px #fafaa0;
}

.procyon {
    top: calc(42% - 50px);
    background: radial-gradient(#ffffff, #f2f2f2);
    z-index: 8;
    box-shadow:
        0 0 40px 6px #ffffff,
        0 0 150px 10px #e6e6e6;
}

.proxima__centauri {
    top: calc(58% - 50px);
    background: radial-gradient(#f97d75, #9d0301);
    z-index: 7;
    box-shadow:
        0 0 40px 6px #fa8c85,
        0 0 150px 10px #fcbab6;
}

.vega {
    top: calc(74% - 50px);
    background: radial-gradient(#82e8fc, #05bce1);
    z-index: 6;
    box-shadow:
        0 0 40px 6px #b4f1fd,
        0 0 150px 10px #e6fafe;
}

.hadar {
    top: calc(90% - 50px);
    background: radial-gradient(#73a6fc, #0c3ea9);
    z-index: 5;
    box-shadow:
        0 0 40px 6px #7395fc,
        0 0 150px 10px #7388fc;
}

.sun__animation {
    animation: sun__rise 3s ease backwards;
}
.polaris__animation {
    transform: translate(-200%, 4px);
    transition: all 0.5s ease-in-out;
}
.procyon__animation {
    animation: drop__procyon 3s ease backwards;
}
.proxima__centauri__animation {
    animation: drop__proxima__centauri 3s ease backwards;
}
.vega__animation {
    animation: drop__vega 3s ease backwards;
}
.hadar__animation {
    animation: drop__hadar 3s ease backwards;
}

@keyframes sun__rise {
    0% {
        top: calc(26% - 50px);
    }
    100% {
        top: 10%;
    }
}

@keyframes drop__procyon {
    0% {
        top: calc(26% - 50px);
    }
    100% {
        top: calc(42% - 50px);
    }
}
@keyframes drop__proxima__centauri {
    0% {
        top: calc(26% - 50px);
    }
    100% {
        top: 140%;
    }
}
@keyframes drop__vega {
    0% {
        top: calc(26% - 50px);
    }
    100% {
        top: 180%;
    }
}
@keyframes drop__hadar {
    0% {
        top: calc(26% - 50px);
    }
    100% {
        top: 220%;
    }
}

@keyframes slide-in {
    from {
        translate: 150vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}

.hide {
    -moz-animation: hide 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: hide 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: hide 0s ease-in 5s forwards;
    /* Opera */
    animation: hide 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes hide {
    to {
        margin: 0;
        padding: 0;
        opacity: 0;
        height: 0;
        width: 0;
    }
}

.unhide {
    -moz-animation: unhide 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: unhide 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: unhide 0s ease-in 5s forwards;
    /* Opera */
    animation: unhide 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes unhide {
    to {
        margin: 48px 0;
        width: 100%;
        height: initial;
        visibility: visible;
    }
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 1500px;
    margin: 0;
    padding: 0;
    border: 0;
    background: black;
}

main {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
