#root {
    --container-gutter: 20px;
    --page-width: 1240px;
}

/* CLASSES */

.intro {
    width: 90%;
}

.chooseShelf {
    position: sticky;
    bottom: 0px;
    min-height: 60px;
    max-height: 160px;
    background: black;
    margin: 8px 0;
    width: 90vw;
    justify-content: center;
}

.appTitle {
    font-family: "AlienEnergy";
}

.shelfContainer {
    display: flex;
    flex-flow: column;
}

.shelfTitle {
    padding-top: 16px;
    margin: 0 auto;
}

.submitStarButton {
    margin: 16px auto;
    margin-top: 24px;

    padding: 24px 36px;
    border: 1px solid #eb7734;
    border-radius: 16px;
}

.thankYouText {
    margin: 0 auto;
    margin-top: 24px;
}

.topBar {
    position: sticky;
    top: 0;
    width: 90%;
    justify-content: space-between;
    display: flex;
    z-index: 10;
}

.starGrid {
    display: flex;
    flex-flow: column;
    gap: 150px;
    margin: 0 auto;
    overflow-y: hidden;
    max-width: 900px;
}

.starGridItem {
    padding: 40px;
}

.languageButton {
    padding: 20px;
}

ol li {
    margin: 25px 0;
    padding: 25px;
}

li:hover {
    background-color: blue;
    color: white;
}

.starList {
    list-style: none;
    width: 20%;
    margin: auto;
    border: 1px solid white;
}

.star {
    display: inline-block;
    width: 80%;
    height: 80%;
    margin: 0;
    border-radius: 50%;
    position: relative;
}

.polaris {
    -webkit-transform-style: preserve-3d;
    background: url("./assets/polaris_2.jpg") repeat-x;
    background-size: auto 100%;
    -webkit-animation: move-map 200s infinite linear;
    -moz-animation: move-map 200s infinite linear;
    -o-animation: move-map 200s infinite linear;
    -ms-animation: move-map 200s infinite linear;
    animation: move-map 200s infinite linear;
    animation-direction: reverse;
}

.polaris:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 100px 15px rgba(252, 207, 3, 0.9);
}
.proxima {
    -webkit-transform-style: preserve-3d;
    background: url("./assets/proxima.jpg") repeat-x;
    background-size: auto 100%;
    -webkit-animation: move-map 200s infinite linear;
    -moz-animation: move-map 200s infinite linear;
    -o-animation: move-map 200s infinite linear;
    -ms-animation: move-map 200s infinite linear;
    animation: move-map 200s infinite linear;
    animation-direction: reverse;
}

.proxima:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 100px 30px rgba(227, 39, 39, 0.9);
}
.sirius {
    -webkit-transform-style: preserve-3d;
    background: url("./assets/sirius.jpg") repeat-x;
    background-size: auto 100%;
    -webkit-animation: move-map 200s infinite linear;
    -moz-animation: move-map 200s infinite linear;
    -o-animation: move-map 200s infinite linear;
    -ms-animation: move-map 200s infinite linear;
    animation: move-map 200s infinite linear;
}

.sirius:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 100px 5px white;
}

.hadar {
    -webkit-transform-style: preserve-3d;
    background: url("./assets/hadar.jpg") repeat-x;
    background-size: auto 100%;
    -webkit-animation: move-map 200s infinite linear;
    -moz-animation: move-map 200s infinite linear;
    -o-animation: move-map 200s infinite linear;
    -ms-animation: move-map 200s infinite linear;
    animation: move-map 200s infinite linear;
    animation-direction: reverse;
}

.hadar:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 100px 15px rgba(21, 61, 237, 0.9);
}

.vega {
    -webkit-transform-style: preserve-3d;
    background: url("./assets/vega.jpg") repeat-x;
    background-size: auto 100%;
    -webkit-animation: move-map 200s infinite linear;
    -moz-animation: move-map 200s infinite linear;
    -o-animation: move-map 200s infinite linear;
    -ms-animation: move-map 200s infinite linear;
    animation: move-map 200s infinite linear;
}

.vega:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 100px 30px rgba(40, 198, 237, 0.9);
}
.sun {
    -webkit-transform-style: preserve-3d;
    background: url("./assets/sun.jpg") repeat-x;
    background-size: auto 100%;
    -webkit-animation: move-map 200s infinite linear;
    -moz-animation: move-map 200s infinite linear;
    -o-animation: move-map 200s infinite linear;
    -ms-animation: move-map 200s infinite linear;
    animation: move-map 200s infinite linear;
}

.sun:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 100px 15px rgba(255, 144, 46, 0.9);
}

.stage {
    width: 100%;
    aspect-ratio: 1/1;
    display: inline-block;
    margin: 20px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

@-moz-keyframes move-map {
    0% {
        background-position: -849px 0;
    }

    100% {
        background-position: 0 0;
    }
}

@-webkit-keyframes move-map {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -849px 0;
    }
}

@-o-keyframes move-map {
    0% {
        background-position: -849px 0;
    }

    100% {
        background-position: 0 0;
    }
}

@-ms-keyframes move-map {
    0% {
        background-position: -849px 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes move-map {
    0% {
        background-position: -849px 0;
    }

    100% {
        background-position: 0 0;
    }
}
