/* RESETS */
html,
body {
    margin: 0;
    padding: 0;

    border: 0;

    font-weight: inherit;
    font-size: inherit;
    vertical-align: baseline;

    height: 100%;
}

html {
    box-sizing: border-box;

    overflow-x: hidden;
    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: "Trebuchet MS", Times, serif;
    line-height: 1.5;

    color: #eb7734;
    background: black;
}

body {
    text-size-adjust: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

@font-face {
    font-family: "AlienEnergy";
    src: url("./assets/fonts/AlienEnergy.ttf");
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    color: inherit;
}

img {
    display: block;

    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: inherit;
}

strong,
b {
    font-weight: 500;
}

label,
input[type="button"],
input[type="submit"],
input[type="file"],
button {
    cursor: pointer;
}

button,
input,
select,
textarea {
    margin: 0;

    border-radius: 0;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    color: inherit;
    background: transparent;
}

button,
input[type="button"] {
    padding: 0;

    border: 0;

    text-align: inherit;

    background: transparent;
    color: inherit;
}
